deepseek_v3
*-unhealed*
__pycache__
.ipynb_checkpoints
.env
distillation_logs/
intermediate_states/
temp.pickle
layers
temp*
exp_states/
expert_activation/
data
legacy
checkpoints
distillation_runs
pl_logs/
deepseek_v3_8a4/
runs